.main-header .logo {
	padding:0px;
}
.main-header .logo img {
	max-width:230px;
}

section.content form div.radio,
section.content form div.checkbox {
	margin-top:0px;
}

section.content form div.radio label.field-label,
section.content form div.checkbox label.field-label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    min-height: 0px;
    padding-left: 0px;
}

section.content form div.radio label:not(:first-child),
section.content form div.checkbox label:not(:first-child){
    min-height:34px;
    margin-right: 15px;
}

section.content section.box-footer button:not(:first-child){
    margin-left:20px;
}

.form-group.required .control-label:after, 
.form-group .radio.required .control-label:after,
.form-group .checkbox.required .control-label:after {
  content:"*";
  color:red;
}

#requestDetails{
    background-color:lightgray;
}
 div.formDescription div.icon img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
 }

.star {
    display: inline-block; 
}
.star i {
    font-size: 16px;
    padding: 0 1px;
    cursor: pointer;
    color: #FFD119; 
}

    